.App {
  background-color: purple;
  height: 100vh;

  position: relative;
}
.card {
  height: 80%;
  width: 50%;

  background-color: aliceblue;
  position: absolute;
  transform: translate(50%, 10%);
}

h1 {
  text-align: center;
}

.input-section {
  padding: 5%;
}
input {
  width: 80%;
  height: 40px;
  padding-left:10px;
  font-size: 18px;
}
.add {  
  width: auto;
  height: 40px;
}
.task-section {
  border-top: 1px solid #777;
}
li {
  margin: 10px;
}
